.footer-page {
  width: 100%;
  background: #131415;
  padding-top: 5px;
}

.copyrighted {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrighted-page {
  width: 245px;
  font-size: 14px;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 5px;
  color: #ffffff;
  line-height: 1.4;
}

.copyrighted-page__link {
  color: #ffffff;
  font-weight: bold;
}

.author {
  font-weight: bold;
}
.logo {
  margin-right: 50px;
}
.social {
  margin-left: 15px;
}
.social__tagline {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 7px;
}

.social-page {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 143px;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.social__networks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #d0d0d0;
  border-radius: 50%;
  transition-duration: .5s;
}

.social__networks:hover {
  background: #f89513;
}
