body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto!important;
  overflow: hidden;
}

.wrapper:after {
  content: "";
  height: 75px;
  display: block;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  min-height: 80px;
  background-color: #131415;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  margin-left: 45px;
  list-style: none;
}

.site-navigation__link {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation__link--icon {
  margin-right: 15px;
  vertical-align: sub;
}

.active {
  color: #f89513;
}

.contact__Information {
  position: relative;
}

.contact__Information--phone {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.contact__Information--link {
  margin-left: 55px;
  font-size: 14px;
  font-weight: bold;
  color: #935c14;
}

.contact__Information--link:hover {
  color: #8c8d8d;
}

.contact__Information--sub-menu {
  position: absolute;
  display: none;
  left: 15px;
  top: 70px;
  padding: 15px;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px #e9e9e9;
}

.contact__Information--sked:hover .contact__Information--sub-menu {
  display: block;
}

.contact__Information--sub-menu .sub-menu__sked {
  white-space: nowrap;
  font-weight: bold;
  line-height: 2;
  color: #f89513;
}

.banner {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
}

.banner__img {
  text-align: center;
}

.features {
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 90px;
  background: #131415;
  color: #ffffff;
}

.features .features__title {
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 55px;
  text-transform: uppercase;
  font-size: 55px;
}

.features__page {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.features__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 110px;
}

.features__column--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background: #f89513;
  border-radius: 50%;
  margin-bottom: 30px;
}

.features__column--title {
  font-size: 16px;
  text-align: center;
}

.features__column--text {
  width: 204px;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.features__column--list {
  margin-top: 0;
  list-style-type: disc;
}

.features__column--row-list {
  font-size: 18px;
  margin-bottom: 15px;
}

.news {
  width: 100%;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.news__title {
  display: block;
  text-align: center;
  margin-bottom: 75px;
  text-transform: uppercase;
  font-size: 55px;
}

.news-page {
  display: flex;
  justify-content: space-around;
}

.news-page__parh {
  margin-right: 20px;
}

.reviews {
  font-family: 'Roboto', 'Arial', sans-serif;
  list-style: none;
}

.reviews-border {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  padding-bottom: 35px;
  border-bottom: 2px solid #f5f5f5;
}

.reviews-border_last {
  border-bottom: none;
}

.reviews-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 160px;
  height: 160px;
  background: #cfd8dc;
  border-radius: 50%;
}

.reviews-avatar .range {
  background: #f5f5f5;
}

.reviews-date {
  font-size: 14px;
  color: #a3a2a2;
  margin-bottom: 15px;
}

.reviews-title, .reviews-author {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.reviews-text {
  width: 625px;
  font-size: 18px;
  line-height: 1.5;
}

.reviews-text_item {
  width: 700px;
}

.switch {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 350px;
  margin-left: 330px;
}

.switch p {
  font-size: 14px;
}

.page-switch {
  display: flex;
  justify-content: space-around;
  width: 180px;
  list-style: none;
  position: relative;
  margin-left: 35px;
  margin-right: 25px;
}

.page-switch a {
  text-decoration: none;
  color: #221f1f;
  font-weight: bold;
}

.page-switch__first {
  padding: 7px 12px;
  color: #d4d4d8;
  background: #27273e;
  border-radius: 5px;
}

.page-switch a:hover {
  color: #f89513;
}

.page-switch::before {
  position: absolute;
  content: "";
  display: table;
  width: 6px;
  height: 10px;
  left: -10px;
  top: 5px;
  background-image: url("../img/vector.png");
}

.page-switch::after {
  position: absolute;
  content: "";
  display: table;
  width: 6px;
  height: 10px;
  right: -10px;
  top: 5px;
  background-image: url("../img/vector2.png");
}

.top-news {
  margin-left: 40px;
  font-size: 18px;
}

.top-news p {
  width: 130px;
  text-align: left;
  color: #221f1f;
  font-weight: 600;
}

.hue {
  color: #656464;
}

.top-news ul {
  list-style: none;
  margin-left: -40px;
}

.top-news li {
  margin-bottom: 25px;
}

.footer-page {
  width: 100%;
  background: #131415;
  min-height: 75px;
  margin-top: -75px;
}

.copyrighted {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrighted-page {
  width: 277px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #ffffff;
}

.copyrighted-page__link {
  color: #ffffff;
  font-weight: bold;
}

.author {
  font-weight: bold;
}

.social__tagline {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 10px;
}

.social-page {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-left: 5px;
}

.social-page li {
  margin-right: 10px
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.social__networks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  background: #d0d0d0;
  border-radius: 50%;
}

.social__networks:hover {
  background: #f89513;
}

.recall {
  width: 100%;
  margin: 0;
  padding-left: 120px;
  padding-top: 45px;
  padding-bottom: 55px;
}

.recall__navigation {
  list-style: none;
}

.recall__navigation--line {
  display: inline-block;
}

.recall__navigation--link {
  position: relative;
  text-decoration: none;
  padding-left: 15px;
  font-style: italic;
  font-size: 18px;
  color: #4e4c4c;
}

.recall__navigation--link::before {
  position: absolute;
  content: "/";
  display: table;
  left: 3px;
}

.recall__navigation--link-home {
  color: #f9aa42;
  border-bottom: 2px solid #fde4c4;
  padding-left: 0;
}

.recall__navigation--link-home::before {
  display: none;
}

.recall__title {
  display: block;
  text-align: start;
  margin-top: 30px;
  margin-bottom: 45px;
  text-transform: uppercase;
  font-size: 55px;
}

.recall__switch {
  margin-left: 270px;
}

.service-more {
  width: 100%;
  background: #131415;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.service-more__text {
  display: inline-block;
  width: 665px;
  text-align: left;
  font-size: 18px;
  color: #818282;
}

.service-more__tagline {
  font-weight: bold;
  color: #f89513;
}

.form {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 65px;
  background: #ffffff;
}

.form__page {
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 35px;
  padding-bottom: 45px;
  background-color: #f5f5f5;
}

.form__page--title {
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 35px;
  font-size: 45px;
  font-weight: bold;
}

.form__page--form {
  width: 560px;
  margin: 0 auto;
}

.form__page--equalizer {
  display: flex;
  justify-content: space-between;
  width: 560px;
  margin-bottom: 25px;
}

.form__page--half-width {
  display: inline-block;
  margin: 0;
}

.form__page--field {
  width: 230px;
  padding: 10px 15px;
  font-size: 16px;
  outline: 0;
  border: 0;
}

.form__page--signature {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.form__page--review-text {
  margin-bottom: 25px;
}

.form__page--multiline-field {
  width: 96%;
  padding: 10px 15px;
  font-size: 17px;
  border: 0;
  outline: 0;
  border-top: 2px solid #f89513;
  border-bottom: 2px solid #f89513;
}

.form__page--radio p {
  margin-bottom: 10px;
}
.form__page--radio-sheath {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.form__page--radio input {
  display: none;
}

.form__page--radio-on {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  padding-left: 25px;
  color: #f89513;
  font-size: 20px;
}

.form__page--icon-on {
  color: #f89513;
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: solid 1px currentColor;
  border-radius: 50%;
}

.form__page--radio-on::after {
  color: #f89513;
  content: '';
  position: absolute;
  left: 6px;
  top: 9px;
  width: 10px;
  height: 10px;
  background-color: currentColor;
  border-radius: 50%;
}

.form__page--radio-off {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  font-size: 20px;
}

.form__page--icon-off {
  width: 20px;
  height: 20px;
  color: #d6d6d6;
  border: solid 1px currentColor;
  border-radius: 50%;
}

.form__page--form-submit {
  display: block;
  width: 130px;
  margin-left: 440px;
  margin-top: -50px;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background: #1c1f1d;
  border-radius: 3px;
  border: none;
}

.form__page--form-submit:hover {
  background: #f89513;
}

.intro {
  width: 100%;
  min-height: 650px;
  margin: 0;
  padding: 0;
  background-image: url("../img/gym.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.intro__page--logo {
  position: relative;
  left: 575px;
  top: 190px;
}

.intro__page--link {
  display: block;
  width: 170px;
  margin-left: 570px;
  margin-top: 220px;
  padding: 15px 0;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background: #f89513;
  border-radius: 3px;
  border: none;
}

.intro__page--link:hover {
  background: #131415;
}
