body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto!important;
  overflow: hidden;
}

.wrapper:after {
  content: "";
  height: 75px;
  display: block;
}

.container {
  width: 1060px;
  margin: 0 auto;
}


.banner {
  width: 100%;
  padding-top: 80px;
}

.banner__img {
  text-align: center;
}

.features {
  position: relative;
  width: 100%;
  background: #131415;
  padding-top: 157px;
  padding-bottom: 180px;
  color: #ffffff;
}
.one {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.two {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 5;
}
.features__title {
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 55px;
  text-transform: uppercase;
  font-size: 49px;
  letter-spacing: 2px;
}
.features__page {
  display: flex;
  justify-content: center;
  list-style: none;
}

.features__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features__column--two {
  margin-right: 67px;
  margin-left: 63px;
}
.features__column-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background: #f89513;
  border-radius: 50%;
  margin-bottom: 37px;
}

.features__column-title {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.features__column-text {
  width: 204px;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.features__column-list {
  list-style-type: disc;
}

.features__column-list li {
  font-size: 18px;
  margin-bottom: 10px;
}


.top-news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;

}

.top-news p {
  width: 130px;
  font-size: 18px;
  text-align: left;
  color: #221f1f;
  font-weight: 600;
}

.hue {
  color: #656464;
}

.top-news ul {
  list-style: none;
}

.top-news li {
  margin-bottom: 25px;
}

.main-content__navigation {
  margin-left: 90px;
  margin-top: 40px;
  list-style: none;
}

.main-content__navigation-line {
  display: inline-block;
}

.main-content__navigation-link {
  position: relative;
  text-decoration: none;
  padding-left: 12px;
  font-style: italic;
  font-size: 13px;
  color: #4e4c4c;
}

.main-content__navigation-link::before {
  position: absolute;
  content: "/";
  display: table;
  left: 3px;
  top: 3px;
}

.main-content__navigation-link--home {
  color: #f9aa42;
  border-bottom: 2px solid #fde4c4;
  padding-left: 0;
}

.main-content__navigation-link--home::before {
  display: none;
}
.recall {
  width: 100%;
  margin: 0;
  padding-left: 120px;
  padding-top: 45px;
  padding-bottom: 55px;
}
.recall__title {
  display: block;
  text-align: start;
  margin-top: 30px;
  margin-bottom: 45px;
  text-transform: uppercase;
  font-size: 55px;
}

.recall__switch {
  margin-left: 270px;
}

.service-more {
  width: 100%;
  background: #131415;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.service-more__text {
  display: inline-block;
  width: 665px;
  text-align: left;
  font-size: 18px;
  color: #818282;
}

.service-more__tagline {
  font-weight: bold;
  color: #f89513;
}

.form {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 65px;
  background: #ffffff;
}

.form-page {
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 35px;
  padding-bottom: 45px;
  background-color: #f5f5f5;
}

.form-page__title {
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 35px;
  font-size: 45px;
  font-weight: bold;
}

.form-page__form {
  width: 560px;
  margin: 0 auto;
}

.form-page__equalizer {
  display: flex;
  justify-content: space-between;
  width: 560px;
  margin-bottom: 25px;
}

.form-page__half-width {
  display: inline-block;
  margin: 0;
}

.form-page__field {
  width: 230px;
  padding: 10px 15px;
  font-size: 16px;
  outline: 0;
  border: 0;
}

.form-page__signature {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.form-page__review-text {
  margin-bottom: 15px;
}

.form-page__multiline-field {
  width: 96%;
  padding: 10px 15px;
  font-size: 17px;
  border: 0;
  outline: 0;
}
.form-page__field:focus,
.form-page__multiline-field:focus {
  outline: 2px solid #f89513;
}
.form-page__radio-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-page__radio-sheath {
  display: flex;
  justify-content: space-between;
  width: 140px;
}
.form-page__radio-on {
  display: flex;
}

.form-page__icon-on {
   position: absolute;
   left: -5000px;
}
.form-page__icon-on:checked + .form-page__checked {
  border: 2px solid #f89513;
}
.form-page__icon-on:checked + .form-page__checked::before {
  content: "";
  display: table;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #f89513;
  border-radius: 50%;
}
.form-page__checked {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: #ffffff;
  border: 2px solid #cecece;
  border-radius: 50%;
}
.form-page__text {
  font-size: 18px;
  text-transform: capitalize;
}
.form-page__icon-on:checked ~.form-page__text {
  color: #f89513;
}

.form-page__submit {
  display: block;
  width: 130px;
  padding: 15px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background: #1c1f1d;
  border-radius: 3px;
  border: none;
}

.form-page__submit:hover {
  background: #f89513;
}


.intro {
  width: 100%;
  min-height: 660px;
  margin: 0;
  padding: 0;
  background-image: url("../img/gym.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  filter: brightness(50%);
}

.intro__page--logo {
  position: relative;
  left: 575px;
  top: 190px;
}

.intro__page--link {
  display: block;
  width: 170px;
  margin-left: 570px;
  margin-top: 220px;
  padding: 15px 0;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background: #f89513;
  border-radius: 3px;
  border: none;
}

.intro__page--link:hover {
  background: #131415;
}

.service {
  width: 100%;
  margin: 0;
  padding: 0;
}
.service-title,
.partners-title {
  margin-left: 90px;
  font-size: 50px;
  text-transform: uppercase;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.service-list__row {
  width: 26%;
  margin-bottom: 40px;
}
.service-list__row-indent {}

.service-list__row-block {
  position: relative;
  width: 260px;
  min-height: 150px;
  margin-bottom: 30px;
  background-color: #48dd8f;
}
.service-list__row-title {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
}
.service-list__row-title--wrap {
  box-sizing: border-box;
  width: 140px;
}
.service-list__row-img {
  width: 260px;
  min-height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 3px;
  filter: brightness(50%);
}
.service-list__row-fitness {
  background-image: url("../img/sports.jpg");
}
.service-list__row-nutritionist {
  background-image: url("../img/apple.jpg");
}
.service-list__row-yoga {
  background-image: url("../img/yoga.jpg");
}
.service-list__row-loops {
  background-image: url("../img/loops.jpg");
}
.service-list__row-crossfit {
  background-image: url("../img/women.jpg");
}
.service-list__row-pool {
  background-image: url("../img/swimming.jpg");
}

.service-list__row-allotted {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.service-list__row-text {
  font-size: 15px;
  line-height: 1.5;
}
.partners {
  width: 100%;
  padding-bottom: 70px;
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 70px;
  list-style: none;
}
.partners__list--row {
  width: 26%;
  margin-bottom: 40px;
}
.partners__list--img {
  filter: grayscale(100%) opacity(50%);
  transition-duration: 1s;
}
.partners__list--img:hover {
  filter: grayscale(0) opacity(100%);
}
